
    .sub-button {
        background-color: rgb(200, 0, 0);
        color: white;
        border: none;
        border-radius: 2px;
        cursor: pointer;
        margin-right: 10px;
        padding: 10px 16px;
        vertical-align: top;
        transition: opacity 0.25s;
    }

    .sub-button:hover {
        opacity: 0.8;
    }

    /* .sub-button:active{
        background-color: blue;
    } */
    .sub-button:active {
        opacity: 0.5;
    }



    /* join button           */
    .join-button {
        background-color: white;
        color: rgb(6, 95, 212);
        border: 1px solid rgb(6, 95, 212);
        border-radius: 2px;
        cursor: pointer;
        margin-right: 10px;
        padding: 9px 16px;

        transition: background-color 0.8s, color 0.8s;
    }

    .join-button:hover {
        color: white;
        background-color: rgb(6, 95, 212);
    }

    .join-button:active {
        opacity: 0.6;
    }

    /* tweet button */
    .twbutton {
        padding: 10px 16px;
        color: white;
        background-color: rgb(29, 155, 240);
        border: none;
        border-radius: 25px;
        font-weight: bold;
        font-size: 15px;
        cursor: pointer;
        vertical-align: top;
        transition: box-shadow 0.8s;
    }

    .twbutton:hover {
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.35);
    }
