body{
    height: 3000px;
    margin: 0;
}
.picture{
    height: 50px;
    width: 50px;
    object-fit: cover;
    object-position: center;
    border-radius: 25px;
    margin-bottom: 10px;
    
}
.sidebar{
    background-color: rgb(33, 33, 33);
    position: fixed;
    top: 0;
    bottom: 0;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
}
.name{
    color: white;
    font-size:14px ;
}
.create-new{
    color: rgb(150, 150, 150);
    font-size: 25px;
}
.channel{
    color: rgb(150, 150, 150);
    margin-bottom: 16px;
}
.sidebar-2{
    background-color: rgb(55, 55, 55);
    position: fixed;
    left: 70px;
    width: 150px;
    top: 0;
    bottom: 0;
    padding-top:15px ;
    padding-left: 15px;
    padding-right: 15px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}